<!DOCTYPE html>

<html>
<head>
        <link rel="stylesheet" href="/css/style.css">
       
    </head>
<body>
    <title>{{title}}</title>
        <div class="main-content">
        {{>header}}
        <p>{{message}}</p>

    </div>
    

    {{>footer}}

</body>
</head>
</html>